.appName{
    font-family:"Ubuntu", sans-serif;
}

.navbar{
    color:#ff5f00;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items:center;
}

.input{
    border-radius:0.5rem;
    padding:0.5rem;
}